.navList {
	list-style: none;
	padding: 0;
	margin: 0;
}

.navItem,
.navItem:visited {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	padding: 10px;
	color: var(--text);
	text-decoration: none;
}

.navItem:hover {
	background-color: var(--el-bg);
}
