.page {
	display: grid;
	grid-template-areas:
		"header header-title"
		"sidebar content";
	grid-template-columns: 200px 1fr;
	grid-template-rows: 50px 1fr;

	position: absolute;
	width: 100%;
	height: 100%;
}

.pageHeader,
.pageHeaderTitle {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-left: 10px;
	padding: 10px;
	background-color: var(--header);
}

.pageHeader {
	grid-area: header;
	font-size: 1.2em;
}

.pageHeaderTitle {
	grid-area: header-title;
	font-size: 1.2em;
	font-weight: bold;
}

.pageHeader>img {
	height: 100%;
	width: auto;
}

.pageTitle {
	color: var(--text-inactive);
}

.themeSwitcher {
	margin-left: auto;
	cursor: pointer;
}

.pageSidebar {
	grid-area: sidebar;
	overflow-y: auto;
	background-color: var(--fg);
}

.pageContent {
	grid-area: content;
	overflow-y: auto;
	padding: 10px;
}

.pageContent>* {
	align-self: flex-start;
}

.pageContent> :first-child {
	margin-top: 0;
}

.pageSidebarToggle {
	display: none;
}

.optionsPage {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.optionsSection {
	display: flex;
	flex-direction: column;
	gap: 5px;
	background-color: var(--fg);
	padding: 10px;
	border-radius: 5px;
	width: min(calc(100% - 20px), 750px);
}

.checkboxOption {
	display: flex;
	gap: 5px;
}

@media only screen and (max-width: 46.875em) {

	.page {
		display: grid;
		grid-template-areas:
			"header-title"
			"content";
		grid-template-columns: 1fr;
		grid-template-rows: 50px 1fr;

		position: absolute;
		width: 100%;
		height: 100%;
	}

	.pageHeader {
		display: none;
	}

	.pageSidebar {
		position: fixed;
		top: 50px;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.pageSidebarToggle {
		display: block;
		width: max-content;
		height: 100%;
	}

	.pageSidebar[data-visible="false"] {
		display: none;
	}

	.pageSidebar[data-visible="true"] {
		display: block;
	}

}
