html {
	--header: black;
	--bg: #111;
	--fg: #222;
	--el-bg: #333;
	--text: white;
	--text-inactive: gray;

	--error-text: orangered;
	--error-bg: orangered;
	--error-el-bg: #ff7000;

	--danger: orangered;
	--success: #080;

	color-scheme: dark;
}
