.error {
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 400px;
	width: max-content;
	height: auto;
	padding: 10px;
	gap: 10px;

	background-color: var(--error-bg);
	border-radius: 5px;
}

.errorTitle {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

.error>button {
	background-color: var(--error-el-bg);
}
